@{
    ViewData["Title"] = "Стили танцев";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step Up</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>


<body>
    <main>
        <h2 class="mb-4 text-center">Направления</h2>

        <div class="dance-styles-container">
            <div class="dance-style-block">
                <h5>Hip-hop</h5>
                <p>
                    Энергичный уличный стиль, возникший в 1970-х годах в Нью-Йорке. Хип-хоп танец отличается ритмичными, динамичными движениями, фристайлом и свободой самовыражения. В нем активно используются элементы поппинга, локинга и брейк-данса. Этот стиль отражает культуру улиц и молодежи, где важны индивидуальность и импровизация.
                </p>
            </div>

            <div class="dance-style-block">
                <h5>Jazz Funk</h5>
                <p>
                    Яркий и экспрессивный стиль, сочетающий элементы классического джаза, хип-хопа и поп-хореографии. Jazz Funk характеризуется энергичными, ритмичными и плавными движениями, которые подчеркивают стиль и харизму танцора. Этот стиль часто используется в музыкальных клипах и шоу благодаря своей зрелищности и выразительности.
                </p>
            </div>

            <div class="dance-style-block">
                <h5>Strip</h5>
                <p>
                    Чувственный и грациозный танец, в котором акцент делается на женственность, пластичность и выразительность движений. Strip dance сочетает элементы классического танца, стриптиза и акробатики, создавая соблазнительные и элегантные номера. Этот стиль помогает раскрыть уверенность в себе и гармонию тела.
                </p>
            </div>

            <div class="dance-style-block">
                <h5>Contemporary</h5>
                <p>
                    Современный танец, вобравший в себя техники балета, модерна и джаза. Contemporary танец отличается свободой выражения эмоций, плавностью и экспрессивностью движений, а также использованием пространства и дыхания. Этот стиль позволяет создавать глубокие и трогательные постановки, раскрывающие внутренний мир танцора.
                </p>
            </div>

            <div class="dance-style-block">
                <h5>Girly Choreo</h5>
                <p>
                    Женственная хореография, сочетающая мягкие, пластичные движения с выразительной сценичностью. Этот стиль акцентирует внимание на грации, красоте и элегантности танца, часто используя элементы современного и джазового танца. Girly Choreo подчеркивает индивидуальность и харизму исполнительницы.
                </p>
            </div>
        </div>
    </main>
</body>
</html>
