@{
    ViewData["Title"] = "История";
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step Up</title>
    <link rel="stylesheet" href="~/css/history.css">
</head>

<body>
    <main>
        <section class="about">
            <h1>История студии</h1>
            <div class="about-content">
                <div class="text-block">
                    <p>История нашей танцевальной студии началась с мечты создать пространство, в котором танец стал бы не просто хобби, а частью жизни каждого. Основатели студии, увлечённые танцоры и преподаватели, собрались с одной целью — вдохновить людей на танцевальное творчество, подарить каждому возможность раскрыть свою индивидуальность и обрести свободу самовыражения через движение. Начиналось все скромно, с небольшого помещения и нескольких занятий, где собрались лишь самые преданные делу люди. Однако со временем к нашей студии стали присоединяться талантливые преподаватели, а количество учеников росло, и мы поняли, что сможем сделать ещё больше для каждого, кто хочет танцевать.</p>
                    <p>С развитием студии мы смогли расширить спектр наших направлений, предлагая не только популярные стили, но и редкие, авторские курсы, которые разрабатываются нашими педагогами. Сегодня наша студия — это современное и уютное пространство, наполненное светом, энергией и позитивной атмосферой. В наших залах обучаются дети, подростки и взрослые, а занятия проводят высококвалифицированные педагоги, каждый из которых вкладывает душу в процесс обучения и в поддержку своих учеников. Мы гордимся тем, что стали местом, где каждый может найти себя, почувствовать ритм, научиться верить в себя и раскрыть свои творческие способности. Наша история — это история постоянного роста, расширения границ, бесконечного вдохновения и любви к танцу, которая движет нами и по сей день. Мы продолжаем развиваться и ждём каждого, кто готов разделить с нами эту увлекательную и волнующую танцевальную историю.</p>

                </div>
                <div class="image-block">
                    <img src="~/images/image/h3.jpg" alt="Танцевальная студия" />
                    <img src="/images/image/h4.jpg" alt="Танцевальная студия" />
                    
                </div>
            </div>
        </section>

        <section class="contacts">
            <h2> Наши контакты </h2>
            <div class="contacts-content">
                <div class="info">
                    <p><strong>Телефон:</strong> +375 29 999-99-99</p>
                    <p><strong>Email:</strong> stepup@gmail.com</p>
                    <p><strong>Адрес:</strong> г. Минск, пр. Машерова 17/4, 6 этаж (пом 603)</p>
                    <div class="social-icons">
                        <a href="#" aria-label="Telegram"><img src="/images/icon/telegram.png" alt="Telegram"></a>
                        <a href="#" aria-label="Viber"><img src="/images/icon/instagram1.png" alt="Viber"></a>
                        <a href="#" aria-label="WhatsApp"><img src="/images/icon/youtube.png" alt="WhatsApp"></a>
                    </div>
                </div>
                <div class="map">
                    <img src="/images/image/cart.jpg" alt="Карта местоположения" />
                </div>
            </div>
        </section>
    </main>
</body>

</html>