body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #5D5A88;
}


.icon {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: block;
}

.icon-container {
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #5D5A88;
    background-color: #E0DFEB;
}

.header-content {
    text-align: center;
    /*height: 850px;*/
    box-sizing: border-box;
    /*background-color: #CAC8DB;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: #5D5A88;
}

    .header-content h1 {
        font-size: 93px;
        margin-bottom: 40px;
        line-height: 110%;
    }

    .header-content p {
        font-size: 20px;
        margin-bottom: 64px;
    }

.image-container {
    width: auto;
    height: 565px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 100px 143px 330px;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    text-align: left;
    padding: 40px;
    color: #5D5A88;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}
    .logoa {
        color: #5D5A88;
    }
.nav-links a {
    font-weight: 500;
    color: #5D5A88;
    margin: 20px;
    text-decoration:none;
}

.social-links {
    display: flex;
    gap: 15px;
}

    .social-links img {
        width: 20px;
        height: 20px;
    }

.btn {
    background-color: #5D5A88;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3 ease;
    text-align: center;
    width: auto;
    max-width: 200px;
}

    .btn:hover {
        background-color: #3C3A58;
        color: #fff;
    }

.who-choose-us {
    text-align: left;
    padding: 20px;
    color: #5D5A88;
}

    .who-choose-us h2 {
        font-size: 40px;
       
    }

    .who-choose-us #groove-paragraph {
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 110%;
      
    }

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    max-width: 1200px;
   
}

.feature-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 133px;
    text-align: left;
}

    .feature-item h3 .icon {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .feature-item h3 {
        font-size: 28px;
        margin-bottom: 12px;
        display: inline-flex;
        align-items: center;
    }

    .feature-item p {
        font-size: 18px;
        line-height: 110%;
        color: #666;
    }

.pricing {
    
    padding: 50px 0;
    text-align: center;
}

    .pricing h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .pricing-p{
        font-size:15px;
    }
.pricing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pricing-card {
    
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

    .pricing-card:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .pricing-card h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .pricing-card .price {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.teachers {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
}

    .teachers h2 {
        text-align:left;
        font-size: 32px;
        margin-bottom: 30px;
    }

.teachers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.teacher {
    text-align: center;
}

    .teacher img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        object-fit: cover;
    }


/* Секция пробного занятия */
.trial-class {
    background-color: #E0DFEB;
    color: #5D5A88;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

    .trial-class h2 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 30px;
        color: #5D5A88;
    }

    .trial-class p {
        margin-bottom: 20px;
        font-size: 18px;
        color: #5D5A88;
    }

    .trial-class .btn {
        padding: 10px 20px;
        background-color: #5D5A88;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-bottom: 30px;
    }

        .trial-class .btn:hover {
            background-color: #3C3A58;
        }



.contacts {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

    .contacts h2 {
        color: #5D5A88;
        margin-bottom: 20px;
        font-size: 40px;
    }

.contacts-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.contacts .info {
    flex: 1 1 40%;
}

.contacts .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.contacts .map img {
    /* width: 100%;
    border-radius: 10px;
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 2;
    align-items: flex-start;*/
    flex: 0 1 60%; /* Карта занимает оставшееся пространство */
    max-width: 100%;
    height: 400px;
    border-radius: 10px;
}

.contacts .social-icons img {
    width: 30px;
    height: 30px;
}
.footer {
    background-color: #222;
    color: #5D5A88;
    padding: 30px 0;
    text-align: center;
}

    .footer h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer p {
        margin-bottom: 10px;
    }

    .footer a {
        color: #5D5A88;
        text-decoration: underline;
    }

        .footer a:hover {
            text-decoration: none;
        }
