body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #5D5A88;
}

.header {
    text-align: center;
    color: #5D5A88;
    background-color: #E0DFEB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.logoa {
    color: #5D5A88;
    text-decoration: none;
}

.nav-links a {
    font-weight: 500;
    color: #5D5A88;
    margin: 20px;
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 15px;
}

    .social-links img {
        width: 20px;
        height: 20px;
    }

.icon {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: block;
}

.icon-container {
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для страницы расписания */
.schedule {
    margin-top: 70px;
    padding: 20px;
}

    .schedule h1 {
        margin-bottom: 20px;
        font-size: 60px;
        color: #5D5A88;
    }

/* Стили для формы фильтрации */
.filter-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

    .filter-form select {
        padding: 10px;
        background-color: #E0DFEB;
        color: #5D5A88;
        border: 1px solid #8984BF;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .filter-form select:hover {
            background-color: #8984BF;
            color: #ffffff;
        }

    .filter-form button {
        padding: 10px 20px;
        background-color: #E0DFEB;
        color: #5D5A88;
        border: 1px solid #8984BF;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        .filter-form button:hover {
            background-color: #8984BF;
            color: #ffffff;
        }

/* Кнопки для фильтрации */
.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .filter-buttons button {
        margin: 0 5px;
        padding: 10px 15px;
        background-color: #E0DFEB;
        color: #5D5A88;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .filter-buttons button:hover {
            background-color: #8984BF;
            color: #ffffff;
        }

/* Таблица расписания */
.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

    .schedule-table th,
    .schedule-table td {
        padding: 10px;
        border: 1px solid #8984BF;
        text-align: center;
    }

    .schedule-table th {
        background-color: #E0DFEB;
        color: #5D5A88;
        font-weight: bold;
    }

    .schedule-table td {
        background-color: white;
    }

/* Секция пробного занятия */
.trial-class {
    background-color: #E0DFEB;
    color: #5D5A88;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

    .trial-class h2 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 30px;
        color: #5D5A88;
    }

    .trial-class p {
        margin-bottom: 20px;
        font-size: 18px;
        color: #5D5A88;
    }

    .trial-class .btn {
        padding: 10px 20px;
        background-color: #5D5A88;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-bottom: 30px;
    }

        .trial-class .btn:hover {
            background-color: #3C3A58;
        }

/* Контакты */
.contacts {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

    .contacts h2 {
        color: #5D5A88;
        margin-bottom: 20px;
        font-size: 40px;
    }

.contacts-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.contacts .info {
    flex: 1 1 40%;
}

.contacts .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.contacts .map img {
    flex: 0 1 60%; /* Карта занимает оставшееся пространство */
    max-width: 100%;
    height: 400px;
    border-radius: 10px;
}

.contacts .social-icons img {
    width: 30px;
    height: 30px;
}

/* Footer */
.footer {
    background-color: #222;
    color: #5D5A88;
    padding: 30px 0;
    text-align: center;
}

    .footer h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer p {
        margin-bottom: 10px;
    }

    .footer a {
        color: #5D5A88;
        text-decoration: underline;
    }

        .footer a:hover {
            text-decoration: none;
        }
