/* Общие стили для хедера */
.header {
    text-align: center;
    background-color: #E0DFEB;
    padding: 10px 0; /* Уменьшаем отступы сверху и снизу */
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #5D5A88;
    margin: 0;
}

/* Основные стили для страницы редактирования */
h1, h4 {
    color: #5D5A88;
    text-align: center;
}

hr {
    border: 1px solid #5D5A88;
    width: 50%;
    margin: 20px auto;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Основной контейнер для формы */
.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #5D5A88;
}

input.form-control, select.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8984BF;
    font-size: 16px;
    margin-top: 5px;
}

    input.form-control:focus, select.form-control:focus {
        border-color: #5D5A88;
        outline: none;
    }

.text-danger {
    font-size: 14px;
    color: #FF6347;
}

/* Стили для кнопки */
.btn-primary {
    background-color: #5D5A88;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

    .btn-primary:hover {
        background-color: #3C3A58;
    }

/* Стили для ссылки "Back to List" */
a {
    color: #5D5A88;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

    a:hover {
        text-decoration: underline;
    }

/* Стили для формы с колонками */
.col-md-4 {
    width: 50%;
    background-color: #E0DFEB;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .col-md-4 {
        width: 90%;
    }
}

/* Стиль для всего контейнера на странице */
div {
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

/* Заголовки на странице */
h4 {
    color: #5D5A88;
    text-align: center;
}

/* Стиль для формы */
form {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

    form .form-group {
        margin-bottom: 20px;
    }

    form input[type="submit"] {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
    }

        form input[type="submit"]:hover {
            background-color: #2980b9;
        }

/* Стили для ссылок */
a {
    color: #5D5A88;
    text-decoration: none;
    font-size: 16px;
}

    a:hover {
        text-decoration: underline;
    }
